<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AddOldBook</servlet-name>
  	<display-name>AddOldBook</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.AddOldBook</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteOldBook</servlet-name>
  	<display-name>DeleteOldBook</display-name>
  	<description></description>
  	<servlet-class>com.user.servlet.DeleteOldBook</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddOldBook</servlet-name>
  	<url-pattern>/AddOldBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteOldBook</servlet-name>
  	<url-pattern>/DeleteOldBook</url-pattern>
  </servlet-mapping>
</web-app>
